html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	font-family: 'Alegreya', serif;
	display: grid;
	grid-template: [header] 60px [img-scroll] 90vh [inputs] 80px [products] auto [stories] 90vh [social] 80px [navigator] auto [footer] 60px / 1fr;
}
@media (max-width: 800px) {
	body {
		grid-template: [header] 60px [img-scroll] 90vh [inputs] 100px [products] auto [stories] 90vh [social] auto [navigator] 80px [footer] 60px / 1fr;
	}
}
@media (max-width: 760px) {
	body {
		grid-template: [header] 60px [img-scroll] 90vh [inputs] 100px [products] auto [social] 200px [navigator] 80px [footer] 60px / 1fr;
	}
}
header {
	background-color: rgba(41,38,36,1.0);
}
.left-header {
	float: left;
	margin: 0 0 0 55px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.logo-b {
	background-color: rgba(246,76,6,1.0);
	height: 60px;
	width: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.first, .second {
	border-right: 1px solid rgba(255,255,255,0.3);
	height: 60px;
	cursor: pointer;
}
.fa-angle-down {
	color: rgba(255,255,255,0.9);
	font-size: 11px;
	padding: 0 0 0 5px;
}
.left-header h3 {
	font-size: 12px;
	color: rgba(255,255,255,0.9);
	margin: 22px 0 22px 0;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
ul {
	list-style: none;
}
li a {
	text-decoration: none;
}
.first h3 {
	width: 180px;
}
.catalogue {
  z-index: 2;
  background-color: rgba(41,38,36,1.0);
  position: absolute;
  display: none;
  width: 180px;
  margin: -5px 0 0 0;
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}
.catalogue li {
  text-decoration: none;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  width: 180px;
  margin: 0 0 0 -40px; /*Booo*/
}
.catalogue li:last-child {
	border-bottom: none;
}
.second h3 {
	width: 200px;
}
.challenges {
  z-index: 2;
  background-color: rgba(41,38,36,1.0);
  position: absolute;
  display: none;
  width: 200px;
  margin: -5px 0 0 0;
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}
.challenges li {
  text-decoration: none;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  width: 200px;
  margin: 0 0 0 -40px;
}
.challenges li:last-child {
	border-bottom: none;
}
.first:hover .catalogue {
  display: block
}
.second:hover .challenges {
  display: block
}
.catalogue li:hover {
  background: rgba(246,76,6,0.7);
}
.challenges li:hover {
  background: rgba(246,76,6,0.7);
}
.right-header {
	float: right;
	margin: 0 55px 0 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.fa-search, .fa-map-o {
	color: rgba(255,255,255,0.9);
	display: inline-block;
	font-size: 18px;
}
.fa-search, .fa-map-o {
	margin: 0 20px 0 -30px;/*Boooooo*/
}
.right-header input {
	background-color: rgba(80,80,80,0.7);
	height: 30px;
	border-radius: 0.2em;
	border: none;
	color: rgba(255,255,255,0.7);
	padding: 0 0 0 10px;
}
.right-header input:focus{
    outline: none;
}
.search {
	width: 200px;
}
.map {
	width: 100px;
}
.cart {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(41,38,36,1.0);
	height: 60px; /*10vh*/
	padding: 0 20px 0 35px;
	cursor: pointer;
}
.cart:hover {
	background-color: rgba(23,23,23,1.0);
}
.fa-shopping-cart {
	color: rgba(255,255,255,0.9);
	display: inline-block;
	font-size: 18px;
	z-index: 2;
}
.items {
	font-size: 12px;
	padding: 0 3px 0 3px;
	background-color: rgba(255,0,0,1.0);
	color: rgba(255,255,255,0.9);
	border-radius: 0.2em;
	margin: 0 13px 12px 0;
	text-align: center;
}
.cart-items-dropdown {
	display: none;
	z-index: 3;
	width: 350px;
	height: auto;
	background-color: rgba(255,255,255,1.0);
	border: 3px solid rgba(41,38,36,0.9);
	position: absolute;
	margin: 30px 0 0 0;
	transform: translateX(-305px);
	transition: all 0.5s;
}
.item-row {
	/*
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	*/
	border-bottom: 1px solid rgba(246,76,6,0.7);
	font-size: 10px;
}
.item-row p { 
	border-right: 1px solid rgba(41,38,36,0.3);
	basis: 1 1 100%;
	padding: 0 20px 0 20px;
 }
 .item-row p:nth-child(4) {
 	border: none;
 }
.fa-trash-o {
	cursor: pointer;
}
.sum-total {
	float: left;
	padding: 0 10px 0 10px;
	border: 1px solid rgba(246,76,6,0.7);
	z-index: 3;
	margin: 7px 0 0 0;
}
.checkout {
	color: rgba(255,255,255,1.0);
	background-color: rgba(246,76,6,0.7);
	padding: 2px;
	width: 50%;
	text-align: center;
	cursor: pointer;
	float: right;
	z-index: 3;
}/*
.checkout:hover {
	box-shadow: 0 4px 4px rgba(0,0,0,0.3);
}
.checkout:active {
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}*/
@media (max-width: 1030px) {
	.cart {
		padding: 0 5px 0 15px;
	}
	.search {
		width: 150px;
	}
	.map {
		width: 100px;
	}
}
@media (max-width: 890px) {
	.cart {
		padding: 0 5px 0 15px;
	}
	.map, .fa-map-o {
		display: none;
	}
}
@media (max-width: 835px) {
	.first {
		display: none;
	}
	.second {
		display: none;
	}
	.search {
		width: 200px;
	}
}
@media (max-width: 550px) {
	.right-header {
		margin: 0 0 0 0;
	}
	.cart-items-dropdown {
		width: 350px;
		margin: 30px 0 0 0;
		transform: translateX(-355px);
	}
	.left-header {
		margin: 0 0 0 0;
	}
}
/**/
/**/
section.img-scroll {
	-webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
	background-size: cover;
	display: grid; 
	grid-template: 1fr / 1fr 25fr 1fr;
}
.arrow {
	color: rgba(255,255,255,0.7);
	background-color: rgba(41,38,36,0.5);
	padding: 2px;
	width: 100%;
	font-size: 45px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.arrow-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.title-wrap {
	float: left;
	padding: 50px 0 0 100px;
}
.title-wrap h1 {
	text-transform: uppercase;
	font-size: 50px;
	color: rgba(255,255,255,1.0);
	margin: 0 0 0 20px;
}
.title-wrap h1:nth-child(2) {
	padding:0 0 30px 0;
}
.title-wrap hr {
	margin: -20px -120px 20px 0; /*Boo*/
	background-color: rgba(246,76,6,1.0);
	border: 1px solid rgba(246,76,6,1.0);
	width: 20%;
}
.title-wrap p {
	margin: 0 0 0 20px;
	color: rgba(255,255,255,0.9);
}
@media (max-width: 850px) {
	.arrow, .arrow-box {
		display: none;
	}
}
@media (max-width: 550px) {
	.title-wrap {
		float: left;
		padding: 50px 0 0 20px;
	}
	.img-scroll {
		width: 100%;
	}
	.title-wrap h1 {}
}
/**/
/**/
section.inputs {
	background-color: rgba(231,231,231,1.0);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.inputs input {
	font-size: 18px;
}
.inputs > * {
	padding: 25px 0 25px 0;
}
.texts {
	padding: 10px 0 10px 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 0 55px;
	width: 35%;
	float: left;
}
.texts h2 {
	text-transform: uppercase; 
	border-left: 2px solid rgba(246,76,6,1.0);
	padding: 0 0 0 10px;
}
.boxes {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin: 0 55px 0 0; 
	font-size: 12px;
	width: 50%;
	height: 100%;
	float: right;
	cursor: pointer;
}
.boxes > * {
	padding: 0 8px 0 0;
}
.boxes p {
	display: inline;
	color: rgba(41,38,36,0.8);
	font-size: 13px;
}/*
.boxes a:hover {
	box-shadow: 0 4px 4px rgba(0,0,0,0.3);
}
.boxes a:active {
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}*/
.see-all {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.boxes .see-all {
	margin: 0 0 0 20px;
	padding: 1px 15px 1px 15px;
	font-size: 12px;
	background-color: rgba(246,76,6,1.0);
	cursor: pointer;
}
.see-all i {
	padding: 13px 0 0 0;
}
.see-all p {
	color: rgba(255,255,255,1.0);
}
.boxes .fa-angle-right {
	font-size: 16px;
	margin: 0 5px 0 5px;
	color: rgba(255,255,255,1.0);
}
@media (max-width: 800px) {
	.inputs > * {
		padding: 0 0 0 0;
	}
	.texts {
		margin: 0 0 0 0;
	}
	.texts h2 {
		font-size: 16px;
		padding: 0 0 0 10px;
	}
	.boxes {
		font-size: 12px;
		margin: 0 0 0 0;
	}
	.boxes > * {
		padding: 0 0 0 0;
	}
	.boxes p {
		font-size: 13px;
		padding: 0 5px 0 0; 
	}
	.boxes .see-all {
		margin: 0 0 0 10px;
		padding: 0 0 0 0;
	}
	.see-all p {
		display: none; 
	}
	.see-all i {
		margin: 0 0 0 0;
		padding: 5px;
	}
}
@media (max-width: 550px) {
	section.inputs {
		flex-direction: column;
	}
	.texts {
		width: 100%;
		margin: 20px 0 0 20px;
	}
	.boxes {
		width: 100%;
		margin: 0 20px 0 0;
	}
}
/**/
/**/
section.products {
	background-color: rgba(245,245,245);
}
.product-gallery {
	padding: 50px 55px 50px 55px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	grid-wrap: wrap;
	grid-gap: 35px;
}
.product-wrap {
	border-right: 1px solid rgba(41,38,36,0.2); 
	display: grid;
	grid-template: 1fr / 1fr 1fr 1fr;
	background-color: rgba(255,255,255,1.0);
	
}
.product-gallery .product-wrap:nth-child(3) {
	border: none;
}
.product-gallery .product-wrap:nth-child(6) {
	border: none;
}
/*
.product-wrap:hover {
	border: 8px solid rgba(41,38,36,0.1);
}*/
.product {
	/*border: 1px solid red;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding-top: 20px;
	background-color: rgba(255,255,255,1.0);
}
.left-wrap {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.description {
	margin: 10px 0 0 0;
}
.price {
	margin: 5px 0 0 0;
}
.product p {
	font-size: 15px;
	color: rgba(41,38,36,1.0);
}
.inspect {
	/*border: 1px solid green;*/
	display: flex;
	flex-direction: row;
	cursor: pointer;
}
.inspect i {
	font-size: 14px;
	color: rgba(41,38,36,1.0);
	padding: 10px 10px 0 2px;
}
.inspect .fa-shopping-cart {
	color: rgba(255,255,255,0.7);
	background-color: rgba(246,76,6,0.9);
	padding: 10px 10px 10px 10px;
	height: 35px;
}
.inspect .fa-shopping-cart:hover {
	box-shadow: 0 4px 4px rgba(0,0,0,0.3);
}
.inspect .fa-shopping-cart:active {
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.inspect .fa-search-plus {
	font-size: 16px;
}
.with-pic {
	border: 8px solid rgba(41,38,36,0.1);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(255,255,255,1.0);
}
.with-pic h2 {
	font-size: 34px;
	color: rgba(41,38,36,1.0);
	padding: 80px 0 10px 0;
	margin: 0 0 0 0;
}
.with-pic p {
	font-size: 13px;
	color: rgba(41,38,36,1.0);
	padding: 0 0 20px 0;
	margin: 0 0 0 0;
}
.with-pic hr {
	background-color: rgba(246,76,6,1.0);
	border: 1px solid rgba(246,76,6,1.0);
	width: 10%;
	margin: 0 0 20px 0;
}
.with-pic a {
	background-color: rgba(246,76,6,1.0);
}
.with-pic .load-more {
	color: rgba(255,255,255,1.0);
	font-size: 14px;
	color: rgba(255,255,255,1.0);
	padding: 5px 20px 5px 20px;
	margin: 0 0 0 0;
	cursor: pointer;
}/*
.with-pic a:hover {
	box-shadow: 0 4px 4px rgba(0,0,0,0.3);
}
.with-pic a:active {
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}*/
.long {
	background-image: url("fjallraven pic.jpg");
	background-size: cover;
	grid-column-end: span 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.long h2 {
	font-size: 40px;
	color: rgba(255,255,255,1.0);
	padding: 80px 0 40px 0;
	margin: 0 0 0 0;
}
.long .sub {
	font-size: 14px;
	color: rgba(255,255,255,1.0);
	padding: 0 0 20px 0;
	margin: 0 0 0 0;
}
.long hr {
	background-color: rgba(246,76,6,1.0);
	border: 1px solid rgba(246,76,6,1.0);
	width: 10%;
	margin: 0 0 20px 0;
}
.long a {
	background-color: rgba(246,76,6,1.0);
}/*
.long a:hover {
	box-shadow: 0 4px 4px rgba(0,0,0,0.3);
}
.long a:active {
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}*/
.long .btn-t {
	font-size: 14px;
	color: rgba(255,255,255,1.0);
	padding: 5px 20px 5px 20px;
	margin: 0 0 0 0;
	cursor: pointer;
}
@media (max-width: 1170px) {
	.with-pic {
		grid-column-end: span 2;
	}
	.product-gallery .product-wrap:nth-child(3) {
		border-right: 1px solid rgba(41,38,36,0.2); 
	}
	.product-gallery .product-wrap:nth-child(6) {
		border-right: 1px solid rgba(41,38,36,0.2); 
	}
	.product-gallery {
		grid-template: repeat(4, 1fr) / repeat(2, 1fr);
	}
	.long a {
		margin: 0 0 40px 0;
	}
}
@media (max-width: 805px) {
	.product-gallery {
		grid-template: repeat(5, 1fr) / repeat(1, 1fr);
	}
	.product-wrap:nth-child(1) {
		display: none;
	}
	.product-wrap:nth-child(2) {
		display: none;
	}
	.product-wrap:nth-child(6) {
		display: none;
	}
	.with-pic {
		grid-column-end: span 1;
	}
	.long {
		grid-column-end: span 1;
	}
}
@media (max-width: 550px) {
	.product-gallery {
		padding: 55px 0 55px 0;
	}
	.inspect .fa-shopping-cart:hover {
		box-shadow: none;
	}
	.inspect .fa-shopping-cart:active {
		box-shadow: none;
	}
}
/**/
/**/
section.stories {
	background-image: url("fjallraven 5.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.stories h2 {
	font-size: 40px;
	color: rgba(255,255,255,1.0);
	padding: 0 0 0 0;
	margin: 10px 0 20px 0;
}
.sub-header {
	display: flex;
	flex-direction: row;
	margin: 20px 0 100px 0;
}
.sub-header li {
	margin: 0 5px 0 5px;
	cursor: pointer;
}
.border {
	border: 4px solid rgba(246,76,6,1.0);
}
.sub-header p {
	font-size: 16px;
	color: rgba(255,255,255,1.0);
	display: inline;
	margin: 10px; 
	padding: 10px;
}
.images {
	margin: 10px 0 0 0;
	display: flex;
	flex-direction: row;
}
.box {
	height: 20vh;
	width: 23vw;
	background-color: rgba(255,255,255,0.7);
	margin: 0 10px 0 10px;
	cursor: pointer;
}
.box1 {
	background-size: cover;
}
.box2 {
	background-size: cover;
}
.box3 {
	background-size: cover;
}
.arrow-down {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.images p {
	font-size: 12px;
	color: rgba(255,255,255,1.0);
	background-color: rgba(41,38,36,1.0);
	padding: 10px; 
	width: 140px;
	margin: 12vh 0 0 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}
.stories .fa-angle-down {
	font-size: 28px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid rgba(255,255,255,1.0);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 30px 0 0 0;
	padding: 0 0 0 0;
}
.arrow-box {
	color: rgba(255,255,255,1.0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
@media (max-width: 760px) {
	section.stories {
		display: none;
	}
}
/**/
/**/
section.social {
	background-color: rgba(41,38,36,0.95);
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.social-wrap {
	display: grid;
	grid-template: 1fr / 1fr 1fr 1fr;
	margin: 0 55px 0 55px;
	text-transform: uppercase;
}
.social p {
	color: rgba(255,255,255,0.3);
	font-size: 14px;
}
.subscribe {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-right: 1px solid rgba(255,255,255,0.2);
	padding: 20px;
}
.subscribe p {
	margin: 0 10px 0 0;
	flex-basis: 1 1 auto;
}
.subscribe input {
	background-color: rgba(80,80,80,0.7);
	height: 30px;
	width: 300px;
	border-radius: 0.2em;
	border: none;
	color: rgba(255,255,255,0.7);
	padding: 0 0 0 20px;
	margin: 0 0 0 0;
	flex-basis: 1 1 auto;
}
.subscribe input:focus{
    outline: none;
}/*
.subscribe-bar {
	width: 300px;
	margin: 0 0 0 0;
	flex-basis: 1 1 auto;
}*/
.subscribe .fa-angle-right {
	color: rgba(255,255,255,0.9);
	display: inline-block;
	font-size: 18px;
	cursor: pointer;
	margin: 2px 70px 0 -40px;
}
.social-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-right: 1px solid rgba(255,255,255,0.2);
	padding: 20px;
}
.social-icons p {
	margin: 0 10px 0 0;
}
.social-icons .icons {
	font-size: 30px;
	color: rgba(255,255,255,0.6);
	cursor: pointer;
	flex-basis: 1 1 auto;
}
.icons i {
	margin: 0 10px 0 10px;
}
.icons i:nth-child(4) {
	margin: 0 10px 0 0;
}
.icons i:hover {
	color: rgba(255,255,255,0.9);
}
.blog h2 {
	font-size: 15px;
	color: rgba(255,255,255,0.6);
	cursor: pointer;
}
.blog h2:hover {
	color: rgba(255,255,255,0.9);
}
.blog {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.blog p {
	margin: 0 10px 0 0;
	flex-basis: 1 1 auto;
}
@media (max-width: 1200px) {
	.social-wrap {
		/*grid-template: repeat(3, 1fr) / 1fr;*/
		margin: 0 0 0 0;
	}
	.subscribe p {
		display: none;
	}
	.subscribe input {
		width: 250px;
		margin: 10px 0 0 20px;
	}
	.subscribe .fa-angle-right {
		margin: 12px 70px 0 -20px;
	}
	.social-icons i {
		font-size: 20px;
	}
	.social-icons p {
		display: none;
	}
	.blog p {
		display: none;
	}
	.blog h2 {
		font-size: 14px;
	}
	.subscribe {
		border-right: 1px solid rgba(255,255,255,0.2);
	}
	.social-icons {
		border-right: 1px solid rgba(255,255,255,0.2);
	}
	.subscribe {
		padding: 0 0 5px 0;
	}
	.social-icons {
		padding: 5px 0 5px 0;
	}
	.blog {
		padding: 0 0 5px 0;
	}
}
@media (max-width: 760px) {
	.social-wrap {
		grid-template: repeat(3, 1fr) / 1fr;
		margin: 0 0 0 0;
		overflow: hidden;
	}
	.subscribe input {
		width: 250px;
		margin: 0px 0 0 60px;
	}
	.subscribe .fa-angle-right {
		margin: 2px 70px 0 -20px;
	}
	.subscribe {
		border-right: none;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}
	.social-icons {
		border-right: none;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}
	.blog {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}
}
/**/
/**/
section.navigator {
	background-color: rgba(41,38,36,0.95);
}
.navigator-wrap {
	display: grid;
	grid-template: 1fr / repeat(4, 1fr);
	justify-content: center;
	margin: 30px 55px 20px 55px;
}/*
.navigator-wrap:not(hr) {
	margin: 0 0 0 20px;
}*/
.navigator-wrap h2 {
	font-size: 16px;
	color: rgba(255,255,255,1.0);
	text-transform: uppercase;
	cursor: pointer;
	margin: 0 0 0 0;
}
.navigator-wrap hr {
	background-color: rgba(246,76,6,1.0);
	border: 1px solid rgba(246,76,6,1.0);
	width: 10%;
	margin: 15px 55px 15px 0;
}
.navigator p {
	font-size: 14px;
	color: rgba(255,255,255,0.4);
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	cursor: pointer;
}
.navigator h2 {
	margin: 0 0 0 20px;
}
.navigator p {
	margin: 0 0 0 20px;
}
@media(max-width: 815px) {
	.about-fjallraven {
		border-right: 1px solid rgba(246,76,6,1.0);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.our-responsibility  {
		border-right: 1px solid rgba(246,76,6,1.0);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.useful-guides  {
		border-right: 1px solid rgba(246,76,6,1.0);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.customer-service  {
		border: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.about-fjallraven hr {
		display: none;
	}
	.our-responsibility hr {
		display: none;
	}
	.useful-guides hr {
		display: none;
	}
	.customer-service hr {
		display: none;
	}
	.about-fjallraven p {
		display: none;
	}
	.our-responsibility p {
		display: none;
	}
	.useful-guides p {
		display: none;
	}
	.customer-service p {
		display: none;
	}
	.about-fjallraven h2 {
		font-size: 8px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.our-responsibility h2 {
		font-size: 8px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.useful-guides h2 {
		font-size: 8px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.customer-service h2 {
		font-size: 8px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	
}
@media (max-width: 550px) {
	.navigator-wrap {
		grid-template: repeat(2, 1fr) / repeat(2, 1fr);
		margin: 20px 10px 20px 10px;
	}
	.about-fjallraven {
		border-bottom: 1px solid rgba(246,76,6,1.0);
		padding-bottom: 10px;
	}
	.our-responsibility {
		border-bottom: 1px solid rgba(246,76,6,1.0);
		padding-bottom: 10px;
		border-right: none;
	}
	.useful-guides {
		padding-top: 10px;
	}
	.customer-service {
		padding-top: 10px;
	}
	/**/
	.navigator h2 {
		margin: 0 0 0 0;
	}
	.navigator p {
		margin: 0 0 0 0;
	}
}
/**/
/**/
footer {
	background-color: rgba(41,38,36,1.0);
	overflow: hidden;
}
.footer-wrap {
	text-transform: uppercase;
	color: rgba(255,255,255,0.4);
	font-size: 10px;
}
.left-footer {
	display: grid; 
	grid-template: 1fr / repeat(3, 1fr);
	align-items: center;
	float: left;
	margin: -20px 0 0 55px;
}
.left-footer div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.footer-logo {
	background: rgba(246,76,6,0.1);
	width: 175px;
}
.sweden {
	margin: 0 0 0 20px;
}
.right-footer {
	float: right;
	margin: 0 55px 0 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 60px;
}
.majesty {
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	justify-content: flex-end;
	margin: 0 20px 0 0;
	text-overflow: wrap;
}
@media (max-width: 850px) {
	.footer-logo {
		background: rgba(246,76,6,0.1);
		width: 175px;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.footer-logo img {
		opacity: 0.7;
	}
	.sweden {
		display: none;
	}
	.flag {
		display: none;
	}
	.copyright {
		display: none;
	}
	.right-footer {
		display: none;
	}
	.majesty {
		display: none;
	}
}
@media (max-width: 550px) {
	.left-footer {
		margin: 0 0 0 0;
		width: 100%;
	}
	.footer-logo {
		width: 100%;
		margin: -20px 0 0 0;
	}
	.footer-logo img {
		opacity: 0.7;
	}
}
/**/
/**/
